// Cool

$color--aqua:  #7FDBFF;
$color--blue:  #0054a4;
$color--blue--light: lighten($color--blue, 10%);
$color--blue--dark: darken($color--blue, 10%);
$color--navy:  #001F3F;
$color--teal:  #39CCCC;
$color--green: #5d9632;
$color--green--light: #e0edd5;
$color--olive: #3D9970;
$color--lime:  #01FF70;


// Warm

$color--yellow:  #FFDC00;
$color--orange:  #FF851B;
$color--red:     #FF4136;
$color--fuchsia: #F012BE;
$color--purple:  #B10DC9;
$color--maroon:  #85144B;

// Gray Scale

$color--black:        #111;
$color--gray-darker:  #222;
$color--gray-dark:    #333;
$color--gray:          #555;
$color--gray-light:   #999;
$color--gray-lighter: #eee;
$color--white:        #fff;

// quick var
$black: $color--black;
$white: $color--white;



// Size
$size--small: 12px;
$size--base:  14px;
$size--touch-target: 44px;
$size--menu-width: 90%;


// Gutter

$gutter--normal: 20px;
$gutter--narrow: 10px;
$gutter--skinny: 5px;
$csswizard-grids-gutter: $gutter--narrow;


// Typography

$typecsset-base-font-size:    $size--base;
$typecsset-base-line-height:  18px;

// Heading sizes
$typecsset-h1-size:             36px !default;
$typecsset-h2-size:             24px !default;
$typecsset-h3-size:             16px !default;
$typecsset-h4-size:             24px !default;
$typecsset-h5-size:             20px !default;
$typecsset-h6-size:             18px !default;



a img, img, a, #header a {
  border: none;
  text-decoration: none;
}

body {
  background-color: $color--green--light;
  font-family: helvetica;
}

a {
  color: $color--blue;
  text-decoration: underline;
  border: none;
}

#layout {
  background: $color--white;
  margin: $gutter--normal auto;
  border-radius: 5px;
  border: 10px solid $color--white;
}

#header {
  background-color: $color--white;
  color: $color--gray-dark;
  text-align: center;
}

#content {
  font-size: $typecsset-base-font-size;
  color: $color--gray-dark;
  font-style: normal;
  font-weight: normal;
  font-family: Helvetica;
  line-height: 1.25em;
}

#footer {
  background-color: $color--gray-lighter;
  padding: $gutter--narrow;
  padding-bottom: 0;
  font-size: $size--small;
  color: $color--gray-dark;

  a {
    color: $color--blue;
  }
}

#copyright {
  background-color: $color--gray-lighter;
  padding: 0 $gutter--narrow;
  font-size: $size--small;
  color: $color--gray-light;
  text-align: center;
}


h1 {
  font-size: $typecsset-base-font-size;
  border-bottom: 1px solid $color--gray-light;
  margin: $gutter--normal $gutter--narrow $gutter--skinny;
  text-transform: uppercase;
}

p {
  margin-top: $gutter--skinny;
}

h2 {
  margin: 0;
  padding: 0;
}

.image {
  padding-left: $gutter--narrow;
  padding-top: $gutter--narrow;
}

.title {
  padding-top: $gutter--narrow;
  padding-left: $gutter--skinny;
  padding-right: $gutter--narrow;
}

.text {
  padding-left: 6px;
  padding-right: 10px;
}

#menu {
  line-height: 1.25em;
  padding: 10px;
  text-align: center;
}

#ads td, #leaderboard {
/*	text-align:	center;	*/
}
img {
  vertical-align:bottom
}